body {
  background: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont;
  font-size: 13px;
  color: #666;
}

#logo {
  margin: 10px 15px;
  font-size: 13px;
  z-index: 1;
  position: relative;
}

#view-list {
  position: absolute;
  top: 25px;
  left: 180px;
}

.view-list__item {
  transition: transform 300ms cubic-bezier(0.1, -0.1, 0.1, 1.1);
  position: absolute;
  top: 0;
  left: 0;
}

.view__tools {
  background: #f5f5f5;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 3px 3px 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  line-height: 1.5;
}

.view__title {
  opacity: .6;
}

.webview {
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

#sidebar {
  background: #f5f5f5;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
}

#btn-open-add-new {
  display: flex;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-top: 1px solid #ddd;
  position: relative;
  z-index: 1;
}

#btn-open-add-new:hover {
  background: #f9f9f9;
  transition: background 200ms;
}

#btn-open-add-new:hover .icon-plus {
  opacity: 1;
  transition: opacity 200ms;
}
.add-new-active #btn-open-add-new .icon {
  background-image: url(../i/close.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

#nav-list {
  transition: transform 200ms cubic-bezier(0.1, -0.1, 0.1, 1.1);
  position: relative;
  z-index: 1;
  background: #f5f5f5;
  min-height: 300px;
  transform: translateY(-128px);
}

.add-new-active #nav-list {
  transition: transform 200ms;
  transform: translateY(0);
}

.nav-list__item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  cursor: row-resize;
  transition: background 200ms;
  font-size: 12px;
  line-height: 1.3;
}

.nav-list__item:hover {
  background: #fff;
  transition: background 200ms;
}

.nav-list__item.gu-mirror {
  background: #fff;
}

.nav-list__item .text {
  flex: 1;
}

.text__title {
  opacity: .5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-delete {
  background-image: url(../i/close.svg);
  background-size: 200% auto;
  cursor: pointer;
}

.nav-list__item .icon-delete {
  opacity: 0;
  flex: none;
}

.nav-list__item:hover .icon-delete {
  opacity: 8;
  transition: opacity 200ms;
}

.icon-plus {
  background-image: url(../i/plus.svg);
  background-size: 108% auto;
  width: 40px;
  height: 30px;
  opacity: .5;
}

#form-add {
  padding: 15px 15px;
  background: #fff;
  width: 100%;
  display: block;
  border-top: 1px solid #ddd;
}


label {
  font-size: 11px;
  margin-bottom: 3px;
  display: block;
}

input[type=text] {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 2px;
}

.form-list__item {
  margin-bottom: 10px;
}

.form-list__item:last-child {
  margin-bottom: 0;
}

.split-input {
  display: flex;
  margin-left: -10px;
}

.split-input__item {
  margin-left: 10px;
}

.push--bottom {
  margin-bottom: 20px;
}

.button {
  transition: background 100ms;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  font-family: inherit;
  cursor: pointer;
  margin: 0;
  line-height: 32px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 2px;
  height: 34px;
  padding: 0 15px;
  background-color: #4e94ff;
  border: 1px solid #2e7def;
  color: #fff;
}

.button:hover {
  transition: background 100ms;
  background: #2e7def;
}

.button--small {
  font-size: 11px;
  font-weight: 400;
  border-radius: 2px;
  line-height: 26px;
  height: 27px;
  padding: 0 7px;
}

.button--full {
  width: 100%;
}
