$sidebar-color: #e9e9ef;
$add-new-height: 70px;
$link-color: #3f93f3;
$font-stack: unquote("-apple-system, BlinkMacSystemFont, Helvetica");

@import "library/reset";
@import "library/dragula";

@import "components/layout";

@import "components/icon";
@import "components/button";

@import "components/tokens";
@import "components/sidebar";
@import "components/toolbar";
@import "components/views";
@import "components/add-new";
@import "components/indicator";
@import "components/scale";
@import "components/window-tools";
