
.add-form {
  padding: 0 15px 30px 15px;
}

.add-form__error {
  margin-bottom: 10px;
  font-size: 11px;
  line-height: 1.2;
  display: none;
}


input[type=text],
input[type=number] {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 2px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica;
}

input[type=text]:focus,
input[type=number]:focus {
  border: 1px solid #90b9f9;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: -apple-system, BlinkMacSystemFont, Helvetica;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-list__item {
  margin-bottom: 10px;
}

.form-list__item:last-child {
  margin-bottom: 0;
}

.split-input {
  display: flex;
  margin-left: -10px;
}

.split-input__item {
  margin-left: 10px;
}
