
.add-form {
  padding: 0 15px 30px 15px;
}

input[type=text] {
  display: block;
  width: 100%;
  border: 1px solid transparent;
  padding: 5px;
  border-radius: 2px;
  font-family: $font-stack;
}

input[type=text]:focus {
  border: 1px solid #90b9f9;
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: $font-stack;
}

.form-list__item {
  margin-bottom: 10px;
}

.form-list__item:last-child {
  margin-bottom: 0;
}

.split-input {
  display: flex;
  margin-left: -10px;
}

.split-input__item {
  margin-left: 10px;
}
