@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('webfont.eot');
  src: url('font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('webfont.eot');
  src: url('font/Roboto-Bold.ttf') format('truetype');
}
