@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('font/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  src: url('font/Lato-Black.ttf') format('truetype');
}
