.icon {
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  flex: none;
  transition: fill 100ms;
}

.icon--small {
  width: 10px;
  height: 10px;
}

.icon--large {
  width: 24px;
  height: 24px;
}
