body,
html {
  height: 100%;
}

body {
  background-color: #f8f8fa;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica;
  font-size: 13px;
  color: #222;
  display: flex;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
