body,
html {
  height: 100%;
}

body {
  background-color: #f8f8fa;
  -webkit-font-smoothing: antialiased;
  font-family: $font-stack;
  font-size: 13px;
  color: #222;
  display: flex;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Move layout around when setting is active

.sidebar {
  margin-left: -160px;
  transition: margin 300ms cubic-bezier(0.1, -0.1, 0.1, 1.1);
}

.sidebar-active {
  
  & .sidebar {
    margin-left: 0;
  }
}
