
#nav-list {
  transition: transform 200ms cubic-bezier(0.1, -0.1, 0.1, 1.1);
  position: relative;
  z-index: 1;
  background: #f9f9f9;
  flex: 1;
  overflow-y: scroll;

}

.add-new-active #nav-list {
  transition: transform 200ms;
}

.nav-list__item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(0,0,0,.1);
  cursor: row-resize;
  transition: background 200ms;
  font-size: 13px;
  line-height: 1.3;
  position: relative;
  
  .icon {
    opacity: 0;
    cursor: pointer;
  }
}


.nav-list__item:hover {
  background: #fff;
  transition: background 200ms;

  .icon {
    transition: opacity 200ms;
    opacity: 1;
  }
}



.nav-list__item:last-child:after {
  content: '';
  display: block;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -2px;
  right: 0;
}

.nav-list__item.gu-mirror {
  background: rgba(255,255,255,.4);
}

.nav-list__item .text {
  flex: 1;
}

.text__title {
  opacity: .5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 117px;
  font-size: 11px;
}
