.scale-wrap {
  padding: 0 15px 15px 15px;
  display: flex;
  align-items: center;
  
  .scale__value {
    margin-left: auto;
    font-size: 11px;
    color: #aaa;
    text-align: right;
    
  }
  
  #scale {
      width: 90px;
      -webkit-appearance: none;
  }

  #scale::-webkit-slider-runnable-track {
      width: 100%;
      height: 5px;
      background: #ddd;
      border: none;
      border-radius: 3px;
      transition: background 200ms;
  }

  #scale::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #aaa;
      margin-top: -4px;
      transition: background 200ms;
  }

  #scale:focus {
      outline: none;
  }

  #scale:hover::-webkit-slider-thumb {
    background: #3f93f3;
  }

  #scale:hover::-webkit-slider-runnable-track {
      background: #ccc;
  }
}
