.sidebar {
  background: #dcdce5;
  position: relative;
  width: 160px;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.sidebar__add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  cursor: pointer;
  position: relative;
  z-index: 1;
  flex: none;
  height: 58px;
}

.sidebar__add-new:hover .icon {
  transition: opacity 200ms, transform 200ms;
  opacity: .7;
}

.add-new-active .sidebar__add-new .icon {
  transition: opacity 200ms, transform 200ms;
  transform: rotate(45deg);
}

.sidebar__add-new .icon {
  transition: opacity 200ms, transform 200ms;
  opacity: .3;
}
