
.tokens {
  position: relative;
  z-index: 1;
  flex: 1;
  overflow-y: scroll;
}

.token__item {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  cursor: row-resize;
  transition: background 200ms;
  font-size: 13px;
  line-height: 1.3;
  position: relative;
    
  .icon {
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    
    .icon {
      transition: opacity 200ms;
      opacity: .3;
    }
  }
    
  // The phantom item that is dragged around
  &.gu-mirror {
    background: rgba(255,255,255,.4);
  }

  .token__text {
    flex: 1;
  }
    
  .token__title {
    opacity: .7;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 117px;
    font-size: 11px;
  }
}
