.toolbar {
  flex: none;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  z-index: 1;
  padding: 4px 10px 4px 15px;

  .toolbar__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 5px;
    
    &:last-child {
      padding-right: 0;
    }
  }
  
  
  #url {
    border: none;
    border: 1px solid #ddd;
    font-size: 13px;
    margin-right: 5px;
  }
  
  .toolbar__input-wrap {
    flex: 1;
    position: relative;
    margin-right: 5px;
  }

  .toolbar__input {
    flex: 1;
  }
  
  // This button is first in the source so that the
  // 'return' button triggers it, but visually it's
  // been moved to the far right
  .button--reload {
    order: 3;
  }
}
