.toolbar {
  flex: none;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f8f8fa;
  z-index: 1;
  padding: 24px 10px 15px 15px;
  -webkit-app-region: drag;

  .toolbar__item {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 5px;
    
    &:last-child {
      padding-right: 0;
    }
  }
  
  
  #url {
    border: none;
    border: 2px solid #eee;
    font-size: 13px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px 10px;
    border-radius: 5px;
  }
  
  .toolbar__input-wrap {
    flex: 1;
    position: relative;
    margin-right: 5px;
  }

  .toolbar__input {
    flex: 1;
  }
  
  .button {
    opacity: .3;
    transition: opacity 200ms;
  }
  .button:hover {
    opacity: .5;
  }

  .button:active {
    opacity: 1;

    & .icon {
      fill: $link-color;
    }
  }


  // This button is first in the source so that the
  // 'return' button triggers it, but visually it's
  // been moved to the far right
  .button--reload {
    order: 3;
  }

}

.sidebar-active .button--setting {
  opacity: 1;

  & .icon {
    fill: $link-color;
  }
}
