#view-list {
  position: relative;
  flex: 1;
  overflow: scroll;
}

.view-list__item {
  margin-top: 10px;
  margin-bottom: 20px;
  transition: transform 300ms cubic-bezier(0.1, -0.1, 0.1, 1.1);
  position: absolute;
  top: 0;
  left: 0;
}

.view__tools {
  padding-bottom: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 1.5;
}

.view-list__item .icon-delete,
.view-list__item .button--reload {
  opacity: 0;
  transition: opacity 200ms;
}

.view-list__item:hover .icon-delete,
.view-list__item:hover .button--reload {
  opacity: 1;
  transition: opacity 200ms;
}

.view__title {
  opacity: .6;
}

.webview {
  background: #fff;
  box-shadow: 0 0 6px rgba(0,0,0,.1)
}
